.item {
  background: #ccc;
  display: flex;
  padding: 10px 0;
  width: 100%;
}
.item + .item {
  margin-top: 10px;
}

.currencyDescription {
  flex: 3;
  display: flex;
  align-items: center;
}

.currency {
  flex: 1;
}

.textCheck {
  text-decoration: line-through;
}